.top-form {
    -fx-background-color : #fff;
    -fx-border-color : #000;
    -fx-border-width : .4px .4px .2px .4px;
}

.nav-form {
    -fx-background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.nav-button {
    -fx-background-color : transparent;
    -fx-cursor: hand;
    -fx-text-fill : #fff;
    -fx-font-size : 14px;
    -fx-font-family : Arial;
}

.logout {
    -fx-background-color : #bb1a3a;
    -fx-background-radius: 20px;
    -fx-cursor : hand;
}

.logout : hover {
    -fx-background-color : #e41841;
}

.white-form {
     -fx-background-color : #fff;
     -fx-background-radius : 8px;
}

.shadow {
    -fx-effect : dropshadow(three-pass-box, rgba(0,0,0,0.5),5,0,0,0);
}

.card {
    -fx-background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -fx-border-radius : 4px;
}